{mode, max}.

{duration, 1}.

{concurrent, 1}.

{driver, basho_bench_driver_http_couch}.


% Let's give a test for (implemented):
% {operations, [{get,1}, {get_design,1}, {put,1}, {post,1}]}.
{operations, [{post, 1}]}.


% don't forget execute 'curl -X PUT http://127.0.0.1:5984/basho_bench' before launch benchmarks
{couch_config,
  [
    % {ips, ["127.0.0.1"]},
    % {port, 5984},
    % {database, "basho_bench"},
    % {design_doc, ""}. % "design-doc/_view" or "design-doc/_show"
    % {username, ?},
    % {password, ?},
    {json_template_path, "examples/fixtures/doc_11kb.json"}
    % {request_timeout, 5000},
    % {batch_size, 100},
    % {socket_options, [{recbuf, 786432}, {sndbuf, 786432}, {keepalive, true}, {nodelay, false}]}
  ]
}.

